---
BasedOnStyle: Google
Standard: Auto
Language: Cpp

IndentWidth: 3
TabWidth: 3
UseTab: ForIndentation
ColumnLimit: 110

AlignEscapedNewlinesLeft: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: false

PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 60
PenaltyBreakString: 1
PenaltyBreakFirstLessLess: 1000
PenaltyExcessCharacter: 1000
PenaltyReturnTypeOnItsOwnLine: 90

# Comments
CommentPragmas: ''

# Configure each individual brace in BraceWrapping
BreakBeforeBraces: Custom
BraceWrapping: {
    AfterClass: false,
    AfterControlStatement: MultiLine,
    AfterEnum : false,
    AfterFunction : false,
    AfterNamespace : false,
    AfterStruct : false,
    AfterUnion : false,
    BeforeElse : false,
    IndentBraces : false,
    SplitEmptyFunction: false,
}
